<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/schedule.css">
</head>
<body>
    <a href="/">home</a>
    <h1><u>All Schedule</u></h1>

    <%for(let calendar of calendars){%>
        <div id = schedule>
            <h2>Name : <%=calendar.title%></h2>
            <h3>Work :  <%=calendar.work%></h3>
            <h3>Date :  <%=calendar.body%></h3>

            <a href = "/calendars/<%=calendar.id%>/edit">Edit</a>

            <br>
            <br>
        
        <form action="/calendars/<%=calendar.id%>?_method=DELETE" method="POST">
            <button>Delete</button>
            </form>
        </div>
    <%}%>

    
</body>
</html>